<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Sedgwick+Ave" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link rel="shortcut icon" type="image/png" href="https://cdn.pixabay.com/photo/2018/05/29/00/17/burger-3437618__340.png"/>
	<title>Eat Da Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>

</head>

<body>
	{{{ body }}}
</body>

</html>